@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

$principal-font: "Roboto", sans-serif;

$bg-primary-color: #edebee;
// #1a002d;

$bg-secondary-color: #b3b2b4;
// #3e0568;

$text-primary-color: black;
// rgb(177, 175, 175);
